<!doctype html>
<html>

<head>
    <link rel="stylesheet/css" src="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="ngtweet/dist/ngtweet.min.js"></script>    
    <script type="text/javascript" src="app/bower_components/tinymce/tinymce.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="main.js"></script>
    <script src="ng-youtube-embed.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#ytube").click(function(){
            $("#myDIV").toggle();
        });
    });
    </script>
    <script>
        window.fbAsyncInit = function(response) {
            FB.init({
            appId            : 1720104441630076,
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.10'
            });
            FB.AppEvents.logPageView();
            /*try{
                alert("hello");
            }
            catch(e){
                console.log(e);
            }*/
        };
        
</script>
         <script>
            
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>
    <style>
    .no-dis{
        display: none;
    }
    </style>
</head>

<body>
    <div ng-app="myApp">
            <div id="fb-root"></div> 
        <form ng-controller="MyCtrl" name="form">
            <input type="file" ngf-select="uploadFiles($files)" multiple="multiple" value="upload file">
        </form>

        <div ng-controller="addtext">
            <div data-ng-repeat="elem in letter.items">
                <bi-ui-builder elem="elem" remove="removeElementMain"></bi-ui-builder>
            </div>
            <a href="" data-ng-click="addTextbox()">Add Text Box</a>
            <a id="ytube" href="">Add Youtube</a>
            <div id="myDIV" class="no-dis">          
            <input type="text" ng-model="plugin.url">
            <input data-ng-click="addYoutube()" type="button" value="Add Youtube Video">
            <input data-ng-click="deleteStage()" type="button" value="delete">
            </div>
            <input type="text" ng-model="plugin.vurl">
            <input data-ng-click="addVimeo()" onclick="init()" type="button" value="Add Vimeo Video">
        </div>

        <div ng-controller="socialMediaCtrl">
            <input type="text" ng-model="plugin.id" placeholder="Enter tweet id">
            <input type="button" data-ng-click="addTwitter()" value="add Twitter">
            <div data-ng-repeat="elem in social.items">
                <social-media elem="elem"></social-media>
            </div>
            <input type="text" ng-model="plugin.url">
            <input type="button" data-ng-click="addFacebook()" value="add Facebook">            
            
            <div class="fb-post" data-href="https://www.facebook.com/20531316728/posts/10154009990506729/" data-width="500"></div>
            
        </div>

        

    </div>

</body>

</html>